POSTGRES_DB=deliveries
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_PORT=5433
# внутри docker-сети (для ETL/Spark JDBC)
POSTGRES_HOST=postgres
POSTGRES_INTERNAL_PORT=5432

# По умолчанию в compose уже зеркало Tsinghua. Если нужен официальный PyPI:
# PIP_INDEX_URL=https://pypi.org/simple
# PIP_TRUSTED_HOST=pypi.org

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_FIRSTNAME=Admin
AIRFLOW_ADMIN_LASTNAME=User
AIRFLOW_ADMIN_EMAIL=admin@example.com

AIRFLOW__WEBSERVER__SECRET_KEY=supersecretkey
